* {
    margin: 0; 
    padding: 0;
}

html, body { overflow-x: hidden; }

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

html {
    font-size: 125%;
}
body {
    font-family: 'Roboto Serif', sans-serif;
    line-height: 1.4rem;
    letter-spacing: 0.02rem;
    background-color: rgb(220, 220, 220);
    // background: linear-gradient(rgb(34, 42, 54), rgba(243, 113, 113, 0.683));
}

h2 {
    color: black;
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 400;
    margin-bottom: 5%;
    }

h3 {
    margin: 1% 0;
}

ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}

img {
    display: block;
    width: 100%;
   
}

li a:hover {
    color:  #9CD3BB;
    transition:  ease  .5s;
  
}

.menu-checkbox {
    display: none;
}

