* {
    margin: 0; 
    padding: 0;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

html {
    font-size: 125%;
}
body {
    font-family: 'Roboto Serif', sans-serif;
    line-height: 1.4rem;
    letter-spacing: 0.02rem;
    background-color: rgb(234,234,234);
}

h2 {
    color: black;
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 400;
    margin-bottom: 5%;
    }

h3 {
    margin: 3% 0;
}

ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a {
    font-size: clamp(0.5rem, 2vw, 3rem);
    color: white;
    text-decoration: none;
    text-align: center;
}

img {
    display: block;
    width: 100%;
}



li a:hover {
    color: rgb(253, 128, 94);
  
}

.menu-checkbox {
    display: none;
}

