
// ***********************************************
header {
    min-height: 100vh;
    background-color: rgb(34, 42, 54);
    -webkit-animation-name: animate1; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 7s; /* Chrome, Safari, Opera */
    animation-name: animate1;
    animation-duration: 7s;
}


// ***********************************************
/* Chrome, Safari, Opera */
@-webkit-keyframes animate1 {
    0%   {background-color: rgb(65, 7, 60);}
    20%  {background-color: rgb(103, 18, 74);}
    40%  {background-color: rgb(123, 41, 139);}
    60% {background-color: rgb(133, 74, 150);}
    80% {background-color: rgb(124, 115, 158);}
    100% {background-color: rgb(34, 42, 54);}
}
	
/* Standard syntax */
@keyframes animate1 {
    0%   {background-color: rgb(65, 7, 60);}
    20%  {background-color: rgb(103, 18, 74);}
    40%  {background-color: rgb(123, 41, 139);}
    60% {background-color: rgb(133, 74, 150);}
    80% {background-color: rgb(124, 115, 158);}
    100% {background-color: rgb(34, 42, 54);}
}
// ************************************

.svgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     h2 {
        color: white;
        font-size: 1.8rem;
        font-weight: 200;
        text-align: center;
        margin: 0% 0 15% 0;
    }
}
// ***********************************************

#linePortrait {
    max-width: 650px;
    height: 600px;
}

#linePortrait path {
    position: relative;
    stroke-dasharray: 9000px;
    stroke-dashoffset: 9000px;
    animation: line-animation 10s ease forwards
}

#linePortraitPath {
    fill: none;
    stroke: white;
    stroke-width: 4;
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}

// ***********************************************

#signature {
    width: 585px;
    height: 75px; 

}

#signature path {
    stroke-dasharray: 5000px;
    stroke-dashoffset: 5000px;
    animation: line-animation 70s ease forwards
}

#signaturePath {
    fill: none;
    stroke: white;
    stroke-width: 2;

}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}   

// ***********************************************

