
@media (max-width: 1025px) {
    .aboutContainer .aboutImgs2 {
        height: 550px;
        }
    .projectsContainer {
        .firstProject,
        .secondProject,
        .thirdProject,
        .fourthProject {
            flex-direction: column;
            align-items: center;
            margin-top: 5%;
        }
        .text1,
        .text2,
        .text3,
        .text4 {
            max-width: 80vw;
            padding: 3% 0px 0px 0px;
            p {
                text-align: left;
            }  
        }
    }
}
/* collapsed nav bar */
@media (max-width: 850px) {

    .wrapper {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }
    
    .navContainer {
        position: fixed;
        top: -500px;
        right: - 500px;
        transition: all 5s ease-in-out;
        margin: 0;
        li a {
            color:black;
            font-size: 0.85rem;
            &:hover {
                background-color: white;
                border: 1px solid black;
                border-radius: 20px;
                padding: 6px 10px 2px 10px; 
            }
        }
    }
    nav .menuToggle {
        display: flex;
        flex-direction: column;
        margin-left: 86%;
        padding-top: 20px;
    }

    .menuButton:hover,
    .menuButton:focus {
        border: rgb(209, 114, 250) solid 2px;
        // transition: border 0.5s ease-in-out;
    }

    .menuButton {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 41px;
        height: 41px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        background-color: white;
        border-radius: 50%;
        z-index: 30;
    }

    .menuButtonBurger {
        width: 25px;
        height: 3px;
        background: black;
        border-radius: 5px;
        transition: all 500ms ease-in-out;
        &::before {
            content: '';
            position: absolute;
            width: 25px;
            height: 3px;
            background: black;
            border-radius: 5px;
            transition: all 500ms ease-in-out;
            margin-top: 8px;
            transform: translateY(-16px);
        }
        &::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 3px;
            background: black;
            border-radius: 5px;
            transition: all 500ms ease-in-out;
            margin-top: -8px;
            transform: translateY(16px);
            }
        }

        .menuButton.open .menuButtonBurger {
            transform: translateX(-50px);
            background: transparent;
        }
        
        .menuButton.open .menuButtonBurger::before {
            transform: rotate(45deg) translate(35px, -35px);
            margin: 0;
        }
    
        .menuButton.open .menuButtonBurger::after {
            transform: rotate(-45deg) translate(35px, 35px);
            margin: 0;
        }

        .menu-checkbox:checked + .navContainer {
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-left: salmon solid 7px;
            background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f6b53c);
            width: 60vw;
            height: 225px;
            padding: 75px 0px 0px 24%;
            transition: all 600ms ease-in-out;
            text-align: right;
            z-index: 20;
            top:0px;
            right:0px;
            border-bottom-left-radius: 100%;
            
            li:nth-child(1) {
                position: relative;
                right: 83%;
                top: -28%;
            }
            li:nth-child(2) {
                position: relative;
                right: 55%;
                top: -28%;
            }
            li:nth-child(3) {
                position: relative;
                right: 21%;
                top: -28%;
            }
            li:nth-child(4) {
                position: relative;
                right: -17%;
                top: -28%;
            }
        }
        .aboutContainer .aboutImgs2 {
            height: 450px; 
        }
        .svgContainer {
            // margin-top: 25%;
            margin-top: 15%;
        }
        #about .wrapper,
        #skills .wrapper,
        .projectsContainer .wrapper,
        #contact .wrapper {
            width: 90%;
        }
        .skillsContainer .frontEnd,
        .skillsContainer .progLangs,
        .skillsContainer .libraries,
        .skillsContainer .databases,
        .skillsContainer .workflow {
            width: 100%;
        }
    }

@media (max-width: 675px) {
    #linePortrait {
        height: 93%;
        width: 100%;
    }
    #signature {
        width: 100%;
        position: relative;
        top: 27%;
    }
    .svgContainer {
        position: relative;
        h2 {
        font-size: 1.8rem;
        position: relative;
        top: -3%;
        }
    }
  

    #about .wrapper,
    #skills .wrapper,
    .projectsContainer .wrapper,
    #contact .wrapper {
        width: 95%;
    }
}

@media (max-width: 530px) {

    header {
        min-height: 90vh;
    }

    .svgContainer h2 {
        position: absolute;
        font-size: 1.5rem;
        top: 99%;
    }
    .aboutContainer .aboutImgs2 {
        height: 350px;
    }
    
    .firstProject .firstProjectImg,
    .secondProject .secondProjectImg,
    .thirdProject .thirdProjectImg,
    .fourthProject .fourthProjectImg {
       margin-bottom: 10px;
    }
    .contactContainer .contactForm form {
        width: 100%
    }

}

@media (max-width: 450px) {
    .svgContainer h2 {
        font-size: 1.4rem;
        top: 98%;
    }
    .menu-checkbox:checked + .navContainer {
        li:nth-child(1) {
            position: relative;
            right: 70%;
            top: -28%;
        }
        li:nth-child(2) {
            position: relative;
            right: 55%;
            top: -28%;
        }
        li:nth-child(3) {
            position: relative;
            right: 21%;
            top: -28%;
        }
        li:nth-child(4) {
            position: relative;
            right: -6%;
            top: -28%;
        }
    }
    .firstProject .firstProjectImg,
    .secondProject .secondProjectImg,
    .thirdProject .thirdProjectImg,
    .fourthProject .fourthProjectImg {
        width: 310px;
    }
    .aboutContainer {
        .shape1 {
        width: 200px;
        height: 200px;
        }
        .aboutImgs .keyboard {
            right: 10px;
        }
        .aboutParagraph1 .shape2 {
            width: 200px;
            height: 200px;
        }
        a {
            margin-bottom: 0px;
        }
        .aboutImgs2 {
        height: 275px;
        }
    }
    .projectsContainer .firstProject, 
    .projectsContainer .secondProject, 
    .projectsContainer .thirdProject, 
    .projectsContainer .fourthProject {
        margin-top: 10%;
    }
}




@media (max-width: 410px) {
    body {
        line-height: 1.2rem;
    }

    .svgContainer h2 {
        font-size: 1rem;
        top: 94%;
    }
    
    .aboutContainer {
        .shape1 {
        width: 100px;
        height: 100px;
        }
        .aboutImgs .keyboard {
            // position: relative;
            top: 15px;
            right: 4px;
        }
        h3 {
            font-size: 1rem;
        }
        p {
            font-size: 0.85rem;
        }
        .aboutParagraph1 {
            .shape2 {
            width: 100px;
            height: 100px;
            img {
                top: 19px;
                left: 1px;
                }   
            }
            .aboutParagraph2 {
                font-size: 0.85rem;
            }
        }
        .aboutImgs2 {
            height: 221px;
        }
    }
    .skillsContainer .frontEnd li p:not(i), 
    .skillsContainer .progLangs li p:not(i), 
    .skillsContainer .libraries li p:not(i), 
    .skillsContainer .databases li p:not(i),
     .skillsContainer .workflow li p:not(i) {
        font-size: 0.75rem;
        }  
        h3 {
           font-size: 1.15rem; 
        }  
    .firstProject .firstProjectImg,
    .secondProject .secondProjectImg,
    .thirdProject .thirdProjectImg
    .fourthProject .fourthProjectImg {
            img {
                box-shadow: 0 0;
            }
        }
    .projectsContainer .text1,
    .projectsContainer .text2,
    .projectsContainer .text3,
    .projectsContainer .text4 {
        h3 {
            font-size: 1.25rem; 
        }
        h4 {
            font-size: 0.75rem;
        }
        p { 
            font-size: 0.75rem;
        }
        .projectButtons a {
            font-size: 0.75rem;
        }
    }
    
    .contactContainer {
        h3 {
            font-size: 1rem;
            margin-bottom: 7px;
        }
        h4 {
            font-size: 0.75rem;
        }
        p { 
            font-size: 0.75rem;
        }
        .contact .contactButton {
        font-size: 0.75rem ;
        }
    }
    .footer p {
        font-size: 0.65rem;
    }
}



