
@media (max-width: 1025px) {
    button {
        text-align: center !important;
        text-align: -moz-center !important;
        text-align: -webkit-center !important;
        padding: 5px 8px 0 8px;
        width: 67px;
        font-size: 19px;
    }
    .projectsContainer {
        .firstProject,
        .secondProject,
        .thirdProject,
        .fourthProject {
            flex-direction: column;
            align-items: center;
            margin-top: 5%;
        }
        .text1,
        .text2,
        .text3,
        .text4 {
            max-width: 80vw;
            padding: 3% 0px 0px 0px;
            h3,
            .buttons1,
            .buttons2,
            .buttons3,
            .buttons4 {
                text-align: center !important;
                text-align: -moz-center !important;
                text-align: -webkit-center !important;
                
            }
            p {
                text-align: left;
            }  
        }
    }
}
/* collapsed nav bar */
@media (max-width: 850px) {

    .wrapper {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }
    
    .navContainer {
        position: fixed;
        top: -500px;
        right: - 500px;
        transition: all 5s ease-in-out;
        margin: 0;
    }

    nav .menuToggle {
        display: flex;
        flex-direction: column;
        margin-left: 86%;
        padding-top: 20px;
    }

    .menuButton:hover,
    .menuButton:focus {
        border: salmon solid 2px;
        // transition: border 0.5s ease-in-out;
    }

    .menuButton {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 41px;
        height: 41px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        background-color: white;
        border-radius: 50%;
        z-index: 30;
    }

    .menuButtonBurger {
        width: 25px;
        height: 3px;
        background: black;
        border-radius: 5px;
        transition: all 500ms ease-in-out;
        &::before {
            content: '';
            position: absolute;
            width: 25px;
            height: 3px;
            background: black;
            border-radius: 5px;
            transition: all 500ms ease-in-out;
            margin-top: 8px;
            transform: translateY(-16px);
        }
        &::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 3px;
            background: black;
            border-radius: 5px;
            transition: all 500ms ease-in-out;
            margin-top: -8px;
            transform: translateY(16px);
            }
        }

        .menuButton.open .menuButtonBurger {
            transform: translateX(-50px);
            background: transparent;
        }
        
        .menuButton.open .menuButtonBurger::before {
            transform: rotate(45deg) translate(35px, -35px);
            margin: 0;
        }
    
        .menuButton.open .menuButtonBurger::after {
            transform: rotate(-45deg) translate(35px, 35px);
            margin: 0;
        }

        .menu-checkbox:checked + .navContainer {
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-left: salmon solid 7px;
            background-color:rgb(103, 204, 240);
            width: 60vw;
            height: 225px;
            padding: 75px 0px 0px 24%;
            transition: all 600ms ease-in-out;
            text-align: right;
            z-index: 20;
            top:0px;
            right:0px;
            border-bottom-left-radius: 100%;
            li:nth-child(1) {
                position: relative;
                right: 57%;
                top: -28%;
            }
            li:nth-child(2) {
                position: relative;
                right: 45%;
                top: -28%;
            }
            li:nth-child(3) {
                position: relative;
                right: 33%;
                top: -28%;
            }
            li:nth-child(4) {
                position: relative;
                right: 16%;
                top: -28%;
            }
            li:nth-child(5) {
                position: relative;
                right: 0%;
                top: -28%;
            }
        }
        .svgContainer {
            // margin-top: 25%;
            margin-top: 15%;
        }
    
        #about .wrapper,
        #skills .wrapper,
        .projectsContainer .wrapper,
        #contact .wrapper {
            width: 90%;
        }
    }

@media (max-width: 675px) {
    #linePortrait {
        height: 93%;
        width: 100%;
    }
    #signature {
        width: 100%;
        position: relative;
        top: 27%;
    }
    .svgContainer {
        position: relative;
        h2 {
        font-size: 1.8rem;
        position: relative;
        top: -3%;
        }
    }
    .contactContainer .contactForm form {
        margin-bottom: 10%;
        fieldset {
            padding: 7%  5% 5% 5%;
            input[type="text"] {
                margin-right: 0;
            }
        }
    }

    #about .wrapper,
    #skills .wrapper,
    .projectsContainer .wrapper,
    #contact .wrapper {
        width: 95%;
    }
}

@media (max-width: 530px) {

    header {
        min-height: 90vh;
    }

    .svgContainer h2 {
        position: absolute;
        font-size: 1.5rem;
        top: 99%;
    }
    .contactContainer .contactForm form {
        width: 100%
    }

}

@media (max-width: 450px) {
    .svgContainer h2 {
        font-size: 1.4rem;
        top: 98%;
    }
    .firstProject .firstProjectImg,
    .secondProject .secondProjectImg,
    .thirdProject .thirdProjectImg,
    .fourthProject .fourthProjectImg {
        width: 310px;
    }
}

// @media (max-width: 410px) {
//     .svgContainer h2 {
//         font-size: 1.2rem;
//         top: 97%;
//     }
// }

@media (max-width: 410px) {
    .svgContainer h2 {
        font-size: 1rem;
        top: 94%;
    }
    .aboutContainer .shape {
        width: 0;

}

.firstProject .firstProjectImg,
.secondProject .secondProjectImg,
.thirdProject .thirdProjectImg
.fourthProject .fourthProjectImg {
        img {
            box-shadow: 0 0;
        }
    }
    
    
    .contactContainer {
        .contactForm form {    
            box-shadow: 0 0;
        }
        fieldset input[type="text"], 
        fieldset input[type="email"] {
            padding: 13px 14px 9px 24px;
        }
    } 
}



