#about {
    // border-radius: 50%;;
    // background: linear-gradient(#e66465, #9198e5);
}

.aboutContainer {
        margin: 10% 0;
        .shape {
            shape-outside: ellipse(100px 200px at 50% 50%);
            clip-path: ellipse(100px 200px at 50% 50%);
            width: 200px;
            height: 400px;
            float: left;
            margin-right: 3%;
            background-color: rgb(211, 156, 211);
        }
        p {
            text-align: left;
            padding: 0 5%;
        }
    }
// ***********************************************
.skillsContainer {
    background-image: url('../assets/grass.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding: 5% 0 10% 0;
    h3{
        text-align: center;
    }
    .frontEnd,
    .progLangs,
    .libraries,
    .databases,
    .workflow {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
        border-radius: 10px;
        border: 2px black solid;
        background-color: rgba(63,115,47,0.7);
        padding-top: 10px;
    }
    .progLangs .lispIcon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 30px;
            padding-bottom: 4px;
        }        
    }
    .libraries .toneIcon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 79px;
            padding-bottom: 4px;
        }         
  } 
}   

// ***********************************************
.projectsContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(207, 179, 179, 0.9);
    padding-bottom: 10%;
    h2 {
        padding: 10% 0 0 0% ;
    }
}

.firstProject {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5%;
    .firstProjectImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        img {
            box-shadow: 5px 5px gray;
            border: 2px gray solid;
            border-radius: 20px;
        }
    }
    .text1 {
        max-width: 50vw;
        padding-left: 40px;
        p {
            font-size: 0.85rem;
            
            }
        }
    }

.secondProject {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5%;
    .secondProjectImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        img {
            box-shadow: 5px 5px gray;
            border: 2px gray solid;
            border-radius: 20px;
        }
    }
    .text2 {
        max-width: 50vw;
        padding-left: 40px;
        p {
            font-size: 0.85rem;
            }
        }
    }
        
.thirdProject {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5%;
    .thirdProjectImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        img {
            box-shadow: 5px 5px gray;
            border: 2px gray solid;
            border-radius: 20px;
        }
    }
    .text3 {
        max-width: 50vw;
        padding-left: 40px;
        p {
            font-size: 0.85rem;
            }
        }
    }
    .fourthProject {
        display: flex;
        flex-direction: row;
        width: 100%;
        .fourthProjectImg {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 400px;
            img {
                box-shadow: 5px 5px gray;
                border: 2px gray solid;
                border-radius: 20px;
            }
        }
        .text4 {
            max-width: 50vw;
            padding-left: 40px;
            p {
                font-size: 0.85rem;
                }
            }
        }

    button {
        font-size: 0.85rem;
        padding: 1px 6px 0 6px;
        margin-top: 3%;
        
    }


// ***********************************************

.contactContainer {
    padding-top: 10%;
    .contactForm form {
        background-color: rgb(201, 112, 112);
        border: none;
        border-radius: 20px 20px;
        width: 75%;
        margin: 0 auto 10% auto;
        box-shadow: 10px 10px gray;
    }
    fieldset {
        border: none;
        padding: 78px 50px 0 50px;
        input {
            color: white;
            border-radius: 20px 20px;
            background-color: rgb(34, 42, 54);
            margin-bottom: 41px;
        }
        textarea {
            color: white;
            background-color: rgb(34, 42, 54);
            height: 208px;
            width: 100%;
            border-radius: 20px 20px;
            resize: none;
            padding: 16px 0 0 24px;
        }
        input::placeholder {
            color: white;
            background-color: transparent;
            font-size: 0.7rem;
            line-height: 0.9rem;
            letter-spacing: 1.3px; 
            padding-left: 5px;
        }
        textarea::placeholder  {
            color: white;
            background-color: transparent;
            font-size: 0.7rem;
            line-height: 0.9rem;
            letter-spacing: 1.3px;
            -webkit-appearance: none;
        }
        input[type="text"],
        input[type="email"] {
            padding: 13px 68px 9px 24px;
        }
        input[type="text"] {
            margin-right: 19px;
        }
    }    
    button {
    font-weight: 400;
    width: 100%;
    padding-top: 3px;
    margin: 40px 0;
    }
}   

// ***********************************************
.footer  {
    text-align: center;
    color: white;
    background-color: rgb(34, 42, 54);
    p {
    padding: 8px 0 5px 0;
    }
}

