.aboutContainer {
        margin: 15% 0 10% 0;
        .shape {
            shape-outside: ellipse(100px 200px at 50% 50%);
            clip-path: ellipse(100px 200px at 50% 50%);
            width: 200px;
            height: 400px;
            float: left;
            opacity: .2;
            background-color: purple;
        }
        h2 {
        color: black;
        font-size: clamp(1.5rem, 4vw, 3rem);
        font-weight: 400;
        margin-bottom: 5%;
        }
        p {
            text-align: left;
            padding: 0 5%;
        }
    }
// ***********************************************
.skillsContainer {
    background-image: url(/assets/chang-qing-8oPubUm97Cc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding-bottom: 15%;
    h2 {
        color: black;
        font-size: clamp(1.5rem, 4vw, 3rem);
        font-weight: 400;
        margin-bottom: 5%;
        }
    h3{
        text-align: center;
    }
    .frontEnd,
    .progLangs,
    .libraries,
    .databases,
    .workflow {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        border-radius: 10px;
        border: 2px black solid;
        background-color: rgba(63,115,47,0.7);
        padding-top: 10px;
    }
    .progLangs .lispIcon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 30px;
        }        
    } 
  }  

// ***********************************************
.projectsContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(207, 179, 179, 0.9);
    padding: 20% auto;
    h2 {
        color: black;
        font-size: clamp(1.5rem, 4vw, 3rem);
        font-weight: 400;
        padding: 10% 0 0 0% ;
        margin-bottom: 5%;
    }
}
.firstProject,
.secondProject,
.thirdProject {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%; 
    .firstProjectImg,
    .secondProjectImg,
    .thirdProjectImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0; 
        img {
            box-shadow: 5px 5px gray;
            border: 2px gray solid;
            border-radius: 20px;
        }
    }
    .text1,
    .text2,
    .text3 {
        padding-left: 20px;
        p {
            font-size: 1rem;
        }
    }
}

***********************************************


***********************************************
.footer  {
    text-align: right;
    border: red 2px solid;
}

